<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<iframe src="http://localhost:8501/" name="iframe_a" height="400px" width="100%" title="Iframe Example"></iframe>
<div>
    <form action="/store/" name="info" method="get">
        <label for="restaurantType">음식 종류 입력해주세요: </label>
        <input id="restaurantType" type="text" name="food_field">
        <input type="hidden" id="lat" value="">
        <input type="submit" value="OK">
    </form>
</div>
</body>
</html>